#transaction-container {
	padding: 20px 30px;

	.ant-input-affix-wrapper {
		width: 30%;
		height: 40px;
	}

	.filter-section {
		position: relative;
		display: flex;
		background: $white;
		margin: 20px 0;
		padding: 20px 30px;

		label {
			display: block;
			font-weight: 500;
		}

		button {
			position: absolute;
			right: 0;
			padding: 10px 29px 32px 30px;
		}

		.filter__status {
			margin-right: 30px;
			width: 20%;

			.ant-select {
				width: 100%;

				.ant-select-selection {
					height: 40px;

					.ant-select-selection__rendered {
						line-height: 40px;
					}
					.ant-select-arrow {
						color: $black;
					}
				}
			}
		}

		.filter__date {
			width: 23%;

			.ant-calendar-picker-input {
				height: 40px;

				.ant-calendar-range-picker-separator {
					margin-top: 5px;
				}
			}
		}
	}

	.ant-table-wrapper {
		.ant-table-thead {
			margin-bottom: 4px;
			border-bottom: 4px solid #ebedf8;
		}

		.ant-table-tbody {
			background-color: $white;

			.label-status {
				padding: 7px 22px;
				border-radius: 20px;
				color: $white;
				font-size: 12px !important;
			}
			.label-status--pending {
				border: 1px solid $orange;
				background-color: $orange;
			}
			.label-status--success {
				border: 1px solid $green;
				background-color: $green;
			}
			.label-status--failed {
				border: 1px solid $red;
				background-color: $red;
			}
		}
	}
}

.export-data-modal {
	.ant-modal-title {
		font-size: 18px;
	}

	p {
		text-align: center;
	}

	.btn-confrim {
		padding: 10px 43px 32px 44px;
		font-weight: bold;
	}

	.btn-cancel {
		padding: 11px 52px 31px 53px;
		font-weight: bold;
	}
}

.modal-success {
	.ant-modal-confirm-body > .anticon {
		color: $primary-color;
		font-size: 56px;
	}

	.ant-modal-confirm-title {
		font-size: 18px;
		text-align: center;
	}
}
