@import '../global';

.trigger,
.logout .anticon {
	font-size: 18px;
	line-height: 64px;
	padding: 0 24px;
	cursor: pointer;
	transition: color 0.3s;
}

.trigger:hover {
	color: #1890ff;
}

.logo {
	height: 32px;
	margin: 16px;
}

.field-logo {
	background-color: #092d60;
	width: 100%;
	height: 84px;
	margin-top: -20px;
	padding-top: 20px;
}

.main-layout {
	margin-left: 200px;
}

.logout {
	.anticon {
		padding-left: 10px;
	}
}

.main-content {
	min-height: calc(100vh - 66px) !important;
}

.main__drawer {
	.ant-drawer-header {
		border-bottom: none;
	}
	.ant-drawer-body {
		padding: 1em 0;
	}
}

.main__profile {
	padding: 1em 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	border-bottom: 1px solid #ebedf8;
	margin-bottom: 0.5em;
	.app-profile__container {
		margin-bottom: 0 !important;
	}
}

.app-loading {
	width: 100%;
	text-align: center;
	margin-bottom: 1em;
}
